<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="index.php">Title</a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="index.php">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="members.php">member</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="role.php">role</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="card-body">
        <!--<div class="col-1 my-3">
          <a type="button" class="btn btn-primary nav-link active" href="create.php">Add New</a>
        </div>-->
        BUTTON
        <div class="table-responsive">
            <table class="table table-hover table-stripped table-bordered text-center">
                <thead class="table-info">
                    <!-- <tr>
                        <th scope="row">No.</th>
                        <th scope="row">Nama Divisi</th>
                        <th scope="row">Aksi</th>
                    </tr> -->
                    HEADER
                </thead>
                <tbody>
                        <!-- <tr>
                            <th scope="row">No</th>
                            <td>Nama Divisi</td>
                            <td style="font-size: 22px;">
                                <a href="divisi.php?id=" title="Edit Data"><i class="bi bi-pencil-square text-warning"></i></a>&nbsp;<a href="divisi.php?hapus=" title="Delete Data"><i class="bi bi-trash-fill text-danger"></i></a>
                            </td>
                        </tr> -->
                        DATA_TABEL
                </tbody>
            </table>
        </div>
    </div>
    
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>